
header {
	width: 90%;
	padding-left: 2%;
	padding-right: 2%;
}

footer {
	width: 100%;
	clear: both;
	padding-top: 50px;
	text-align: center;
}

.column-1 {
	float: left;
	width: 45%;
	padding-left: 2%;
}

.column-2 {
	float: right;
	width: 45%;
	padding-left: 5%;
}